* {
  margin: 0px;
  padding: 0px;
}

img#trequinho {
  display:block;
  border: solid 1px black;
  
}

button {
  font-size: 130px;
  height: 200px;
  width: 1150px;
  border-radius: 50px;
  background-color: red;
  color: white;
  margin-top: 30px;
  margin-left: 64px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.15s ease;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 12px rgba(255, 0, 0, 0.6);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #dff7fb;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image:
    radial-gradient(1200px 700px at 15% 75%, rgba(94,173,255,0.16), transparent 30%),
    radial-gradient(900px 500px at 40% 30%, rgba(34,150,210,0.08), transparent 25%),
    linear-gradient(
      180deg,
      rgba(249,255,255,0.95) 0%,
      rgba(225,249,254,0.85) 18%,
      rgba(200,236,251,0.9) 35%,
      rgba(160,216,245,0.95) 60%,
      rgba(120,188,238,1) 100%
    );
  filter: saturate(1.05);
}

/* GRID PRINCIPAL */
.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 350px);
  gap: 80px;
  width: 1100px;
  margin: 70px auto;
  justify-items: center;
  align-items: center;
}

/* CAIXAS GRANDES */
.caixa {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  position: relative;
}

.caixa h1 {
  font-size: 35px;
  padding-top: 9px;
  margin-bottom: 30px;
  font-family: monospace;
}

/*CAIXAS PEQUENAS*/
.mini-container {
  width: 270px;
  height: 330px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

.mini {
  width: 100%;
  height: 100px;
  background-color: rgba(67, 65, 65, 0.15);
  border: 3px solid black;
  border-radius: 15px;
  transition: transform .25s ease, background .25s ease;
  cursor: pointer;
}

.mini:hover {
  transform: scale(1.1);
  background-color: rgba(1,1,1,0.25);
}

@media (max-width: 768px) {
  .conteudo {
    grid-template-columns: 1fr;
  }
}
