h1{
    color: white;
    font-family: sans-serif;
    height: auto;
    width: auto;
}
h2{  color: white;
    font-family: sans-serif;
    height: auto;
    width: auto;
}
button{
    font-size: 130px;
    height: 200px;
    width: 1250px;
    border-radius: 50px;
    background-color: red;
    color: white;
}
